.about {
  width: 80%;
  background-color: $mainColor;
  height: 400px;
  padding: $mainPadding;
}

.squere {
  position: relative;
  height: 50px;
}

.squere-text {
  display: inline-block;
  z-index: 10;
  color: white;
  margin-left: 60px;
  position: relative;
  bottom: 8px;
}

.title-bg {
  background-color: $mainText;
  color: $mainColor;
  height: 20px;
  width: 25%;
  padding: 10px;
  position: absolute;
  -webkit-transform: skew(-30deg);
  border-radius: 2px;

}

hr.gorizontalLine {
  border: none;
  background-color: $second-color;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  height: 4px;
  width: 80%;
  left: 25%;
  float: right;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.personal-info {
  width: 30%;
}

.photo {
  width: 20%;
  img{
    width: 100%;
  }
}

.about-text {
  width: 45%;
}

.right {
  float: right;
  display: inline-block;
}

.left{
  font-weight:bold;
  display: inline-block;

}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    width: 20px;
    height: 20px;
  }
}

