.about {
  width: 80%;
  background-color: $mainColor;
  height: 180px;
  padding: $mainPadding;
  font-family: Calibri-light, sans-serif;
}

.squere {
  position: relative;
  height: 50px;
}

.squere-text {
  display: inline-block;
  z-index: 10;
  color: white;
  margin-left: 60px;
  position: relative;
  bottom: 5px;
  font-family: $maint-font;
}

.title-bg {
  background-color: $mainText;
  color: $mainColor;
  height: 20px;
  width: 24%;
  padding: 10px;
  position: absolute;
  -webkit-transform: skew(-30deg);
  border-radius: 2px;

}

hr.gorizontalLine {
  border: none;
  background-color: $second-color;
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  height: 4px;
  width: 80%;
  left: 31%;
  float: right;
  margin-top: 19px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2%;
}

.personal-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Signika, sans-serif;
  font-size: 14px;
}

.photo {
  width: 90%;
  img{
    width: 100%;
    border-right: 3px solid $second-color;
    border-radius: 3px;
    margin-left: 10px;
  }
}

.about-text {
  width: 65%;
  margin-top: 20px;
  letter-spacing: 0.7px;
}

.right {
  float: right;
  display: inline-block;
}

.left{
  font-weight:bold;
  display: inline-block;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  a {
    width: 25px;
    height: 25px;
  }
}

