.education {
  background-color: $mainText;
  width: 80%;
  padding: $mainPadding;
  font-family: Arial, sans-serif;
}

.title-bg_blue {
  border-radius: 30px;
  background-color: $second-color;
  color: $mainColor;
  height: 20px;
  width: 25%;
  padding: 10px;
  position: absolute;
}