header {
  width: 80%;
  height: 170px;
  background-color: #f2f3f3;
  padding: $mainPadding;
  font-family: $maint-font;
}

.userName {
  font-size: 48px;
  color: $mainText;
}

.userDescription {
  font-size: 12px;
  color: $mainText;
}

.nav__list {
  border-radius: 5px;
  background-color: $mainText;
  padding: 5px 0;
}

.nav__item {
  display: inline-block;
  padding: 18px 40px;
  margin-right: 5px;
  border-right: 2px solid #fff;

  &:last-child {
    border-right: none;
  }
}

.nav__link {
  color: $mainColor;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $second-font;
}


