.circles {
  fill: none;
  stroke-width: 15;
}

.circle__first {
  stroke: $gray;
}

.circle__second {
  stroke: $second-color;
  stroke-dasharray: .0010 816.4;
  transition: all 1s;
}

.item {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid red;
  margin-left: 35px;
}

.item:nth-child(1) {
  margin-left: 93px;
}


.circle-html {
  stroke-dasharray: 112.0 816.4;
}

.circle-php {
  stroke-dasharray: 112.0 816.4;
}

.circle-js {
  stroke-dasharray: 112.0 816.4;
}

.circle-workflow {
  stroke-dasharray: 112.0 816.4;
}

.includeProcent, .include {
    position: absolute;
}

.include {
  margin-top: 150px;

}

.includeProcent {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;

}