//color
$mainText: #2f4152;
$mainColor: white;
$second-color: rgb(54, 153, 219);
$main-margin-left: 15%;

//adjustment
@import "layout/adjustment";

//sprites
//@import "sprite/sprite";

//styles
@import "sections/header";
@import "sections/about";
@import "sections/skills";
@import "sections/experience";
@import "sections/education";


