//color
$mainText: #2f4152;
$mainColor: white;
$second-color: rgb(54, 153, 219);
$main-margin-left: 15%;
$gray: #f2f3f3;

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
}



//adjustment
@import "layout/adjustment";

//sprites
//@import "sprite/sprite";

//styles
@import "sections/header";
@import "sections/about";
@import "sections/skills";
@import "sections/experience";
@import "sections/education";


