.container_2
    .logo ABOUT ME
    hr.line
    .left-footer
        .birthday Birthday  05-09-1993
        .phone Phone  +38 (066) 257-87-55
        .mail Mail a.myronow@gmail.com
        .city City  Kiev
        .social
    .about-text
        .photo
        .text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
