.container_2
    .logo ABOUT ME
    hr.line
    .left-footer
        .birthday
            .left Birthday
            .right 05-09-1993
        .phone
            .left Phone
            .right +38 (066) 257-87-55
        .mail
            .left Mail
            .right a.myronow@gmail.com
        .city
            .left City
            .right Kiev
        .social

    .about-text
        img.photo
        .text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
