.about
    a(name="about")
    .squere
        .title-bg
        p.squere-text ABOUT
        hr.gorizontalLine
    .info
        .personal-info
            .photo
                img(src="../img/logo.jpeg")
            .birthday
                .left Birthday
                .right 05-09-1993
            .phone
                .left Phone
                .right +38 (066) 257-87-55
            .mail
                .left Mail
                .right a.myronow@gmail.com
            .city
                .left City
                .right Kiev
            .social
                a(href='https://twitter.com/?lang=ru' target="_blank").twitter
                    include ../svg/twitter.svg
                a(href='https://www.facebook.com/profile.php?id=100010470904510' target="_blank").facebook
                    include ../svg/facebook.svg
                a(href='https://github.com/AleksandrMyronow' target="_blank").git
                    include ../svg/github.svg
                a(href='https://www.linkedin.com/in/aleksandr-myronov-2aba97139/' target="_blank").linkedin
                    include ../svg/linkedin.svg
                a(href='https://secure.skype.com/portal/overview' target="_blank").skype
                    include ../svg/skype.svg

        .about-text
            .text Hi, I'm looking for a team to implement the best IT product in our universe. As a young and untidy fighter, I hardly can throw myself into battle, but if you accept me in your wolf pack, you will never regret and get a universal fighter who can always be relied upon and who will not quit at a difficult moment. What can I offer you at this stage: I'm interested in JS and I sort of understand how well I know it, I have the basics of knowing PHP, I have such a tool as GALP, NPM, YARN and I use preprocessors SCSS and PAG. Interested in a bunch of technologies React, NodeJS, MongoDB. My goals for the next 2-3 years is to pump up a press like a guy from advertising, go on vacation with wife to Africa, start growing a son, well, and of course reach the rank of a Middle JS Developer. If you are looking for a guy who joins your team, write to me.
    .squere
        .title-bg
        p.squere-text SKILLS
        hr.gorizontalLine
