.education
    .squere
        .title-bg_blue
        p.squere-text EDUCATION
        hr.gorizontalLine
    .block-point
        .new-point
            .circle-point
            .point-about National University of Life and Environmental Sciences of Ukraine
            .point-year 2014-2016
        .point-text Master's degree field of study 'Land management and cadastre'
        .new-point
            .circle-point
            .point-about National University of Life and Environmental Sciences of Ukraine
            .point-year 2012-2014
        .point-text Bachelor in Geodesy, Cartography and Land management
