.experience
    .squere
        .title-bg_blue
        p.squere-text EXPERIENCE
        hr.gorizontalLine
    .block-point
        .new-point
            .circle-point
            .point-about Artes Oil
            .point-year 2016-2017
        .point-text Accounting in accordance with the accounting records of Ukraine, optimization of the tax duty, processing of documents for the receipt and shipment of goods.
        .new-point
            .circle-point
            .point-about NEO Centre Ukraine
            .point-year 2014-2016
        .point-text Primary analysis of the information provided, drafting requests for the Customer, creating a payment file, making calculations, writing analytics, preparing Reports, participating in the approval of the Bank / Client. Experience in managing a team of 2 people. Experience in determining the market / liquidation / fair value, the cost of liquidation for the purposes of purchase and sale, pledge, management decisions, accounting reports according to IFRS, RAS.