header
    .userName
        h1 ALEKSANDR MYRONOV
    .userSpecialty
        h2 JUNIOR FULL-STACK DEVELOPER
    .navigation
        +nav('nav', ["about", "skills", "experience", "education", "contact"], 0)