header
    .userName
        span ALEKSANDR MYRONOV
    .userSpecialty
        span JUNIOR FULL-STACK DEVELOPER
    .header-navigation
        ul.nav__list
            li.nav__item
                a.nav__link(href="#about") about
            li.nav__item
                a.nav__link(href="#skills") skills
            li.nav__item
                a.nav__link(href="#experience") experience
            li.nav__item
                a.nav__link(href="#education") education
            li.nav__item
                a.nav__link(href="#about") contact
