header
    .userName
        h1 Aleksandr Myronov
    .userSpecialty
        h2 Junior FullStack developer
    .navigation
        +nav('nav', ["about", "skills", "experience", "education", "contact"], 0)