.skills
    ul.skills_list
        li.skills_item
            include ../svg/html.svg
            span.includeProcent 65%
            span.includeText HTML/CSS
        li.skills_item
            include ../svg/js.svg
            span.includeProcent 45%
            span.includeText PHP
        li.skills_item
            include ../svg/php.svg
            span.includeProcent 65%
            span.includeText JS
        li.skills_item
            include ../svg/workflow.svg
            span.includeProcent 75%
            span.includeText WORKFLOW