.skills
    .logo
    hr.gorizontalLine
    .d-inline-flex.justify-content-center
        ul.wrap
            li.item.d-flex.justify-content-center
                include ../svg/html.svg
                span.includeProcent 75%
                span.include HTML/CSS
            li.item.d-flex.justify-content-center
                include ../svg/js.svg
                span.includeProcent 75%
                span.include PHP
            li.item.d-flex.justify-content-center
                include ../svg/php.svg
                span.includeProcent 75%
                span.include JS
            li.item.d-flex.justify-content-center
                include ../svg/workflow.svg
                span.includeProcent 75%
                span.include WORKFLOW